<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('vendor/foundation-apps/dist/css/foundation-apps.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="grid-frame vertical">
            {% include "partials/header.html.twig" %}
            {% block body %}{% endblock %}
            {% include "partials/footer.html.twig" %}
        </div>
        <script src="{{ asset('vendor/foundation-apps/dist/js/foundation-apps.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
